* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  

.home{
    width: 1200px;
    min-height: 100vh;
    background-color: blue;
}

.pagina2{
    width: 1200px;
    min-height: 100vh;
    background-color: pink;
}

.pagina3{
    width: 1200px;
    min-height: 100vh;
    background-color: green;
}

.pagina4{
    width: 1200px;
    min-height: 100vh;
    background-color: yellow;
}